In [70]:
#import some necessary librairies

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
%matplotlib inline
import matplotlib.pyplot as plt  # Matlab-style plotting
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn #ignore annoying warning (from sklearn and seaborn)


from scipy import stats
from scipy.stats import norm, skew #for some statistics


pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x)) #Limiting floats output to 3 decimal points

In [ ]:
df = pd.read_csv('housing.csv')

In [ ]:
df.head()

,Price,Beds,Baths,Sqft
0,"$390,000 ...",4 beds,2 baths,"1,655 sq. ft"
1,"$362,000 ...",3 beds,2 baths,"1,576 sq. ft"
2,"$317,000 ...",3 beds,2 baths,"1,957 sq. ft"
3,"$455,000 ...",3 beds,2 baths,"2,238 sq. ft"
4,"$395,000 ...",4 beds,2 baths,"1,874 sq. ft"

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   20 non-null     object
 1   Beds    20 non-null     object
 2   Baths   20 non-null     object
 3   Sqft    20 non-null     object
dtypes: object(4)
memory usage: 768.0+ bytes